@page "/Popular-Picks"

<PageTitle>PopularPicks</PageTitle>

<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
               
    
                 <div class="col-mod-10 col-lg-8 mx-auto text-center">
                    <h2 class="text-white mb-5">lets explore!<i class="fa-solid fa-shuttle-space fa-rotate-270 text-white"></i></h2>
                    <p class="text-white-50">
                        login with the email below to get explore into the different kinds of genres.
                    </p>
                    <form class="form-signup" id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <div class="row input-group-newsletter">
                            <div class="col">
                                <input class="form-control" id="emailAddress"ctype="email" placeholder="Enter email address..." aria-label="Enter email address.." data-sb-validations="required,email/">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary" id="submitButton type="submit">
                                    submit
                                </button>
                            </div>
                        </div>
                        <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">An email is required.</div>
                        <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email is nor valid.</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

